

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}

p {
  font-size: 14px;
  font-family: Arial
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial
 }
 
 tr:nth-child(odd) {
  background-color: #f2f2f2;
 }
=======
>>>>>>> update-table-details
div {
 background-color: blue;
 text-align: right;
}
<<<<<<< HEAD
=======
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial
 }
 
 tr:nth-child(odd) {
  background-color: #f2f2f2;
 }
>>>>>>> a9b4eed (add table)
=======
>>>>>>> 587bdee90c6773ca49a52744bc47490591c2bd54
>>>>>>> update-table-details
